NODE_ENV=development
PORT=3000
HOST=localhost

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=db_app

REDIS_PASSWORD=password
REDIS_HOST=localhost
REDIS_PORT=6379

LOG_LEVEL=
LOG_DIR=

JWT_SECRET=4a2c81fb39dc401a88b5ef21e90ef8420cd18f4a13d7890b232fe241aaefc405
